@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: 'Courier New', Courier, monospace;
} */

@layer base {
  :root {
    --color-correct: #22c55e;
    --color-incorrect: #ef4444;
    --color-bg: #fff;
    --color-text: #000;
    --color-ui: #000;
    --color-upcoming: #000;
  }
}